@font-face {
  font-family: 'hk_groteskbold';
  src: url('fonts/hkgrotesk-bold-webfont.woff2') format('woff2'), url('fonts/hkgrotesk-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Colour-swatch*/
/* #0033cc #f7799c #e0ecff*/

body {
  overflow-x: hidden;
}
.content {
  /*height: 100%;*/
}
.box-content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 60%;
}

.home-img {
  position: absolute;
  top: 10%;
  left: 25%;
  height: 80%;
  width: 70%;
  min-width: 270px;
  background: url('images/hand-pink5.png') no-repeat;
  background-size: 100%;
  background-position: center;
}

/* Media queries for Home page stuff*/
@media screen and (min-width: 0px){
    .box-content  {
      top: 45%;
      left: 50%;
      height: auto;
      width: 80%;
    }
    .home-img {
      top: 40%;
      left: 10%;
      width: 80%;
      margin: 0 auto;
    }
    #title {
      font-size: 7vw !important;
      line-height: 9vw !important;
    }
    .subtitle {
      font-size: 4vw !important;
    }
}
@media screen and (min-width: 576px){
    .box-content  {
      top: 45%;
      left: 45%;
      height: auto;
      width: 70%;
    }
    .home-img {
      top: 40%;
      left: 10%;
      width: 80%;
      margin: 0 auto;
    }
    #title {
      font-size: 6vw !important;
      line-height: 7vw !important;
    }
    .subtitle {
      font-size: 3vw !important;
    }
}
@media screen and (min-width: 768px){
    .box-content  {
      top: 45%;
      left: 45%;
      height: auto;
      width: 70%;
    }
    .home-img {
      top: 10%;
      left: 20% !important;
      width: 80%;
      margin: 0 auto;
    }
    #title {
      font-size: 5vw !important;
      line-height: 6vw !important;
    }
    .subtitle {
      font-size: 2vw !important;
      top: 50%;
    }
}
@media screen and (min-width: 992px){
    .box-content  {
      top: 45%;
      left: 40%;
      height: auto;
      width: 60%;
    }
    .home-img {
      top: 10%;
      left: 25% !important;
      width: 70%;
    }
    #title {
      font-size: 4vw !important;
      line-height: 5vw !important;
    }
    .subtitle {
      font-size: 1.7vw !important;
      top: 50%;
    }
}

.box-content-l {
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 60%;
}
.left-title {
  font-family: 'hk_groteskbold', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 2vw;
  letter-spacing: 0.3vw;
  line-height: 4vw;
  color: #202020;
  text-align: right;
  text-transform: uppercase;
}
.left-sub {
  font-family: 'Arapey', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-style: italic;
  font-size: 2vw;
  line-height: 3vw;
  color: #202020;
  text-align: right;
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.left-skill {
  font-family: 'hk_groteskbold', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 0.8vw;
  text-align: right;
  line-height: 1vw;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
  color: #202020;
  padding-top: 1vw;
}

#ws-cover {
  position: absolute;
  right: 30%;
  height: 80%;
  width: 70%;
  background: url('images/wealthsimple/WS-cover.png') no-repeat;
  background-size: 100%;
  background-position: center;
}

#wyatt-cover {
  position: absolute;
  right: 30%;
  height: 80%;
  width: 70%;
  background: url('images/wyatt/wyatt-cover.png') no-repeat;
  background-size: 100%;
  background-position: center;
}

/*.left-img:hover{
  height: 70%;
  width: 70%;
  overflow: hidden;
  background-size: 110%;
  transition: 0.3s ease-in-out;
  background-position: center;
}*/

/* Media queries for box-content-l WS, Georgebot*/
@media screen and (min-width: 0px){
  .box-content-l  {
    top: 30%;
    left: 45% !important;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 70%;
  }
  #ws-cover {
    top: 20%;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    background-position: right;
    background-size: 100%;
  }
  #wyatt-cover {
    top: 20%;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    background-position: right;
    background-size: 100%;
  }
  .left-title {
    font-size: 6vw;
    letter-spacing: 0.9vw;
    line-height: 7vw;
    text-align: left !important;
  }
  .left-sub {
    font-size: 4vw;
    line-height: 6vw;
    text-align: left !important;
    padding-top: 5vw;
    padding-bottom: 5vw !important;
  }
  .left-skill {
    display: none;
  }
}
@media screen and (min-width: 576px){
  .box-content-l  {
    top: 40%;
    left: 45% !important;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 70%;
  }
  #ws-cover {
    top: 30%;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    background-position: right;
    background-size: 100%;
  }
  #wyatt-cover {
    top: 30%;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    background-position: right;
    background-size: 100%;
  }
  .left-title {
    font-size: 3vw;
    letter-spacing: 0.5vw;
    line-height: 5vw;
    text-align: left !important;
  }
  .left-sub {
    font-size: 3vw;
    line-height: 4vw;
    text-align: left !important;
    padding-top: 4vw;
    padding-bottom: 4vw !important;
  }
  .left-skill {
    display: none;
  }
}
@media screen and (min-width: 768px){
  .box-content-l  {
    top: 40%;
    left: 60% !important;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 60%;
  }
  #ws-cover {
    top: 0% !important;
    right: 20%;
    height: 80%;
    width: 80%;
  }
  #wyatt-cover {
    top: 0% !important;
    right: 20%;
    height: 80%;
    width: 80%;
  }
  .left-title {
    font-size: 2.5vw !important;
    letter-spacing: 0.4vw !important;
    line-height: 4.5vw !important;
    text-align: right !important;
  }
  .left-sub {
    font-size: 2.5vw !important;
    line-height: 3.5vw !important;
    padding-top: 4.5vw !important;
    padding-bottom: 4.5vw !important;
    text-align: right !important;
  }
  .left-skill {
    display: block !important;
    font-size: 0.98vw !important;
    line-height: 1.5vw !important;
    letter-spacing: 0.35vw !important;
    padding-top: 1vw !important;
  }
}
@media screen and (min-width: 992px){
  .box-content-l  {
    top: 30%;
    left: 65% !important;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 60%;
  }
  #ws-cover {
    top: 0% !important;
    right: 30%;
    height: 80%;
    width: 70%;
  }
  #wyatt-cover {
    top: 0% !important;
    right: 30%;
    height: 80%;
    width: 70%;
  }
  .left-title {
    font-size: 2vw !important;
    letter-spacing: 0.3vw !important;
    line-height: 4vw !important;
  }
  .left-sub {
    font-size: 2vw !important;
    line-height: 3vw !important;
    padding-top: 4vw !important;
    padding-bottom: 4vw !important;
  }
  .left-skill {
    display: block !important;
    font-size: 0.8vw !important;
    line-height: 1vw !important;
    letter-spacing: 0.2vw !important;
    padding-top: 1vw !important;
  }
}


.box-content-r {
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 60%;
}
.right-title {
  font-family: 'hk_groteskbold', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 2vw;
  letter-spacing: 0.3vw;
  line-height: 4vw;
  color: #202020;
  text-align: left;
  text-transform: uppercase;
}
.right-sub {
  font-family: 'Arapey', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-style: italic;
  font-size: 2vw;
  line-height: 3vw;
  color: #202020;
  text-align: left;
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.right-skill {
  font-family: 'hk_groteskbold', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 0.8vw;
  text-align: left;
  line-height: 1vw;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
  color: #202020;
  padding-top: 1vw;
}
.right-img {
  position: absolute;
  top: 0%;
  left: 20%;
  height: 80%;
  width: 70%;
  background: url('hand-pink5.png') no-repeat;
  background-size: 100%;
  /*background-position: center;
  transition: 0.5s ease-in-out;*/
}

/*.right-img:hover{
  background-size: 110%;
  transition: 0.4s ease-in-out;
  background-position: center;
}*/

/* Media queries for Home page stuff*/
@media screen and (min-width: 0px){
  .box-content-r  {
    top: 30%;
    left: 45% !important;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 70%;
  }
  #htn-cover {
    top: 20% !important;
    left: 10% !important;
    width: 80% !important;
    margin: 0 auto;
    background-position: right;
    background-size: 100%;
  }
  #georgebot-cover {
    top: 20% !important;
    left: 10% !important;
    width: 80% !important;
    margin: 0 auto;
    background-position: right;
    background-size: 100%;
  }
  .right-title {
    font-size: 6vw;
    letter-spacing: 0.9vw;
    line-height: 7vw;
    text-align: left !important;
  }
  .right-sub {
    font-size: 4vw;
    line-height: 6vw;
    text-align: left !important;
    padding-top: 5vw;
    padding-bottom: 5vw !important;
  }
  .right-skill {
    display: none;
  }
}
@media screen and (min-width: 576px){
  .box-content-r  {
    top: 40%;
    left: 45% !important;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 70%;
  }
  #htn-cover {
    top: 30% !important;
    left: 10% !important;
    width: 80% !important;
    margin: 0 auto;
    background-position: right;
    background-size: 100%;
  }
  #georgebot-cover {
    top: 30% !important;
    left: 10% !important;
    width: 80% !important;
    margin: 0 auto;
    background-position: right;
    background-size: 100%;
  }
  .right-title {
    font-size: 3vw;
    letter-spacing: 0.5vw;
    line-height: 5vw;
  }
  .right-sub {
    font-size: 3vw;
    line-height: 4vw;
    padding-top: 4vw;
    padding-bottom: 4vw !important;
  }
  .right-skill {
    display: none;
  }
}
@media screen and (min-width: 768px){
  .box-content-r {
    top: 40% !important;
    left: 40% !important;
    height: 50%;
    width: 60%;
  }
  #htn-cover {
    top: 0% !important;
    left: 20%;
    height: 80%;
    width: 80%;
  }
  #georgebot-cover {
    top: 0% !important;
    left: 20%;
    height: 80%;
    width: 80%;
  }
  .right-title {
    font-size: 2.5vw !important;
    letter-spacing: 0.4vw !important;
    line-height: 4.5vw !important;
  }
  .right-sub {
    font-size: 2.5vw !important;
    line-height: 3.5vw !important;
    padding-top: 4.5vw !important;
    padding-bottom: 4.5vw !important;
  }
  .right-skill {
    display: block !important;
    font-size: 0.98vw !important;
    line-height: 1.5vw !important;
    letter-spacing: 0.35vw !important;
    padding-top: 1vw !important;
  }
}
@media screen and (min-width: 992px){
  .box-content-r {
    top: 30% !important;
    left: 35% !important;
    height: 50%;
    width: 60%;
  }
  #htn-cover {
    top: 0% !important;
    right: 30%;
    height: 80%;
    width: 70%;
  }
  #georgebot-cover {
    top: 0% !important;
    right: 30%;
    height: 80%;
    width: 70%;
  }
  .right-title {
    font-size: 2vw !important;
    letter-spacing: 0.3vw !important;
    line-height: 4vw !important;
  }
  .right-sub {
    font-size: 2vw !important;
    line-height: 3vw !important;
    padding-top: 4vw !important;
    padding-bottom: 4vw !important;
  }
  .right-skill {
    display: block !important;
    font-size: 0.8vw !important;
    line-height: 1vw !important;
    letter-spacing: 0.2vw !important;
    padding-top: 1vw !important;
  }
}

#htn-cover {
  position: absolute;
  top: -10%;
  left: 20%;
  height: 80%;
  width: 70%;
  overflow: hidden;
  background: url('images/hackthenorth/HTN-cover.png') no-repeat;
  background-position: center;
  background-size: 100%;
  /*background-position: center;*/
  /*transition: 0.3s ease-in-out;*/
}
#georgebot-cover {
  position: absolute;
  top: -10%;
  left: 20%;
  height: 80%;
  width: 70%;
  overflow: hidden;
  background: url('images/georgebot/georgebot-cover.jpg') no-repeat;
  background-position: center;
  background-size: 100%;
  /*background-position: center;*/
  /*transition: 0.3s ease-in-out;*/
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  z-index: 1000;
  position: fixed;
}
ul.topnav li {
  float: right;
  padding-right: 30px;
  padding-left: 30px;
}
ul.topnav li a {
  display: inline-block;
  font-family: 'hk_groteskbold';
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #131313 !important;
  text-align: center;
  padding: 30px 15px 30px 15px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 10px;
}
ul.topnav li a:hover {
  color: #ff75c9 !important;

}
ul.topnav li a:active {
  color: #ff75c9;
}
ul.topnav li .poster-active {
  color: #ff75c9;
}

a {
  outline: 0;
}

/* Title/Home stuff */
#title {
  font-family: 'hk_groteskbold', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 4vw;
  letter-spacing: 0.5vw;
  line-height: 5vw;
  color: #202020;
}
.subtitle {
  font-family: 'Arapey', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-style: italic;
  font-size: 1.7vw;
  padding-top: 1.7vw;
  color: #202020;
}


/* Sections */
#home {
  height: 100vh;
}
#portfolio {
  height: 100vh;
}


/* Project Pages */
.portfolio-summary {
  width: 25vw;
  margin-left: 10vw;
  border: 2px solid #202020;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 3vh;
  margin-top: 6vh;
}

.portfolio-sumtitle {
  font-family: 'hk_groteskbold', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 1.3vw;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #202020;
  padding-top: 20px;
}
.portfolio-sumcap {
  font-family: 'Arapey', serif;
  font-size: 1.3vw;
  color: #202020;
  padding-top: 5px;
}


/* Links */
ul.linknav {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
}
ul.linknav li {
  float: left;
}
ul.linknav li a {
  display: inline-block;
  color: #000000;
  padding: 55px 20px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 11px;
  outline: none;
}
ul.linknav li a:hover {
  color: #ff75c9;
}


/* Individual site full page images */
#ws-site {
  background-size: cover;
  background-image: url('images/wealthsimple/WS-bg.png');
  background-position: top;
  height: 100vh;
  overflow: hidden;
}

#htn-site {
  background-size: cover;
  background-image: url('images/hackthenorth/HTN-bg.png');
  background-position: top;
  height: 100vh;
  overflow: hidden;
}

#wyatt-site {
  background-size: cover;
  background-image: url('images/wyatt/wyatt-master.png');
  background-position: top;
  height: 100vh;
  overflow: hidden;
}

#georgebot-site {
  background-size: cover;
  background-image: url('images/georgebot/georgebot-master.jpg');
  background-position: top;
  height: 100vh;
  overflow: hidden;
}


/* Row bg colours */
.grey-bg {
  background-color: #fcfcfc;
}


/* Project texts*/
.project-title {
  font-family: 'hk_groteskbold', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 4vw;
  letter-spacing: 0.6vw;
  line-height: 6vw;
  color: #202020;
  text-transform: uppercase;
  padding-top: 25vh;
  padding-left: 10vw;
}
.project-sub {
  font-family: 'Arapey', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-style: italic;
  font-size: 2vw;
  line-height: 4vw;
  color: #202020;
  text-align: left;
  padding-left: 10vw;
  padding-top: 1vw;
  padding-bottom: 8vw;
}

.project-header {
  font-family: 'hk_groteskmedium', 'Helvetica Neue', 'Helvetica', sans-serif;
/*font-style: italic;*/
  font-size: 2.5vw;
  line-height: 4vw;
  color: #202020;
  text-align: left;
  padding-left: 10vw;
  padding-top: 3vw;
  /*padding-bottom: 8vw;*/
}
.project-quote {
  font-family: 'Arapey', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 2.5vw;
  font-style: italic;
  line-height: 4vw;
  color: #202020;
  text-align: left;
  padding-left: 14vw;
  padding-right: 10vw;
  padding-bottom: 1vw;
}
.project-body {
  font-family: 'hk_grotesklight', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 1.5vw;
  line-height: 2.5vw;
  color: #202020;
  text-align: left;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3vw;
  padding-bottom: 2vw;
}
.project-body-e {
  font-family: 'hk_grotesklight', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 1.5vw;
  line-height: 2.5vw;
  color: #202020;
  text-align: left;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3vw;
  padding-bottom: 7vw;
}
.project-img {
  width: 55vw;
  padding-left: 10vw;
  padding-bottom: 2vw;
}
.img-caption {
  font-family: 'Arapey', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-style: italic;
  font-size: 1.5vw;
  line-height: 2vw;
  color: #a4a4a4;
  text-align: left;
  padding-left: 10vw;
  padding-right: 10vw;
}
.prev-proj {
  font-family: 'Arapey', sans-serif;
  font-style: italic;
  font-size: 1.4vw;
  padding-top: 2vw;
  padding-bottom: 4vw;
  padding-left: 10vw;
}
.next-proj {
  font-family: 'Arapey', sans-serif;
  font-style: italic;
  text-align: right;
  font-size: 1.4vw;
  padding-top: 2vw;
  padding-bottom: 4vw;
  padding-right: 10vw;
}


/* Contact */
#contact {
  height:35vh;
  overflow: hidden;
  position: relative;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: none;
}
.footer-header {
  font-family: 'hk_groteskmedium', 'Helvetica Neue', 'Helvetica', sans-serif;
/*font-style: italic;*/
  font-size: 2.5vw;
  line-height: 4vw;
  color: #202020;
  text-align: center;
  padding-left: 10vw;
  padding-top: 3vw;
  /*padding-bottom: 8vw;*/
}
.footer-sub {
  font-family: 'Arapey', sans-serif;
  font-style: italic;
  font-size: 1.5vw;
  text-align: center !important;
  line-height: 2.3vw;
  padding-top: 1vw;
  padding-left: 10vw;
  padding-bottom: 5vw;
  color: #202020;
  text-align: left;
}
#link-container {
  padding-top: 5vw;
  padding-left: 10vw;
  float: none;
}


/* Misc */
video {
  margin-left: 16%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 520px;
}

iframe {
  margin-left: 30%;
  margin-bottom: 30px;
}
